## Vectors

A vector is simply a list of items that are of the same type.

To combine the list of items to a vector, use the c() function and separate the items by a comma.

**Vectors** 
Vectors are strings of numbers, characters or logical data (one-dimension array). In other words, a vector is a simple tool to store your grouped data.

In R, you create a vector with the combine function **c()**. You place the vector elements separated by a comma between the brackets. Vectors will be very useful in the future as they allow you to apply operations on a series of data easily.

Note that the items in a vector must be of the same class, for example all should be either number, character, or logical.

### Numeric, Character and Logical Vectors

In [1]:
year<- c(1995, 2000, 2015, 2023)

In [2]:
year

[1] 1995 2000 2015 2023

In [9]:
length(year)

[1] 4

In [33]:
titles<-c("XYZ","PQR","ABC","LMN")

In [34]:
titles

[1] "XYZ" "PQR" "ABC" "LMN"

In [35]:
year

[1] 1995 2000 2015 2023

In [36]:
year[1]

[1] 1995

In [37]:
year[1:2]

[1] 1995 2000

In [38]:
titles

[1] "XYZ" "PQR" "ABC" "LMN"

In [39]:
titles=="XYZ"

[1]  TRUE FALSE FALSE FALSE

In [6]:
numbers <- 1:5

numbers

[1] 1 2 3 4 5

In [7]:
# Vector with numerical decimals in a sequence
numbers1 <- 1.5:6.5
numbers1

# Vector with numerical decimals in a sequence where the last element is not used
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5 6.5

[1] 1.5 2.5 3.5 4.5 5.5

In [8]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [10]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

sort(fruits)  # Sort a string
sort(numbers) # Sort numbers

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

### Vector Operations

In [11]:
year

[1] 1995 2000 2015 2023

In [12]:
year<-c(year, 2017)

In [42]:
year

[1] 1995 2000 2015 2023 2017

In [13]:
year<-c(year, 2018:2020)

In [44]:
year

[1] 1995 2000 2015 2023 2017 2018 2019 2020

In [14]:
length(year)

[1] 8

### Head and Tail of a vector

In [15]:
head(year)

[1] 1995 2000 2015 2023 2017 2018

In [16]:
head(year,3)

[1] 1995 2000 2015

In [17]:
tail(year)

[1] 2015 2023 2017 2018 2019 2020

In [18]:
tail(year,3)

[1] 2018 2019 2020

In [50]:
## Sort

In [19]:
sort(year)

[1] 1995 2000 2015 2017 2018 2019 2020 2023

In [20]:
sort(year,decreasing=FALSE)

[1] 1995 2000 2015 2017 2018 2019 2020 2023

In [21]:
sort(year,decreasing=TRUE)

[1] 2023 2020 2019 2018 2017 2015 2000 1995

In [52]:
min(year)

[1] 1995

In [53]:
max(year)

[1] 2023

In [55]:
mean(year)   # Not Logical Here

[1] 2013.375

### Giving Names to Values in a Vector

In [22]:
names(year)<-c("A","B","C","D","E")

In [23]:
names(year)

[1] "A" "B" "C" "D" "E" NA  NA  NA

In [24]:
year

   A    B    C    D    E <NA> <NA> <NA>
1995 2000 2015 2023 2017 2018 2019 2020

In [25]:
names(year)<-c("A","B","C","D","E","F","G","H")

In [63]:
year

   A    B    C    D    E    F    G    H
1995 2000 2015 2023 2017 2018 2019 2020

In [26]:
year[c("A","C")]

   A    C
1995 2015

In [66]:
year

   A    B    C    D    E    F    G    H
1995 2000 2015 2023 2017 2018 2019 2020

In [27]:
summary(year)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1995    2011    2018    2013    2019    2023

### Logical Operations on Vectors

In [35]:
x <- 1997
x > 2000

[1] FALSE

In [36]:
movie_years<-c(2001,2002,2008,2017)

In [37]:
movie_years > 2001

[1] FALSE  TRUE  TRUE  TRUE

In [39]:
movie_years == 2015 # is equal to 2015?

[1] FALSE FALSE FALSE FALSE

In [40]:
movie_years != 2015 # is equal to 2015?

[1] TRUE TRUE TRUE TRUE

### Subsetting Vectors

In [41]:
movie_years[2]

[1] 2002

In [42]:
movie_years[c(1,3)] #first and third items

[1] 2001 2008

In [43]:
movie_years[1:3]

[1] 2001 2002 2008

In [44]:
movie_years

[1] 2001 2002 2008 2017

In [45]:
# Removing Elements

In [46]:
movie_years[-1]

[1] 2002 2008 2017

In [47]:
movie_years

[1] 2001 2002 2008 2017

In [48]:
movie_years[-2]

[1] 2001 2008 2017

In [51]:
movie_years

[1] 2001 2002 2008 2017

In [52]:
movie_years[-c(1)]

[1] 2002 2008 2017

In [53]:
movie_years[c(-1)]

[1] 2002 2008 2017

In [55]:
titles <- c("Black Swan", "Jumanji", "City of God", "Toy Story", "Casino")

In [56]:
titles

[1] "Black Swan"  "Jumanji"     "City of God" "Toy Story"   "Casino"

In [57]:
titles[-1]

[1] "Jumanji"     "City of God" "Toy Story"   "Casino"

**Missing Values (NA)**

In [58]:
age_restric <- c(14, 12, 10, NA, 18, NA)
age_restric

[1] 14 12 10 NA 18 NA

In [59]:
is.na(age_restric)

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE

In [60]:
!is.na(age_restric)

[1]  TRUE  TRUE  TRUE FALSE  TRUE FALSE

In [61]:
year

   A    B    C    D    E    F    G    H
1995 2000 2015 2023 2017 2018 2019 2020

In [62]:
year > 2000

    A     B     C     D     E     F     G     H
FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

In [63]:
movie_years

[1] 2001 2002 2008 2017

In [64]:
year[movie_years > 2000]

   A    B    C    D    E    F    G    H
1995 2000 2015 2023 2017 2018 2019 2020

## Factors

In [ ]:
genre_vector <- c("Comedy", "Animation", "Crime", "Comedy", "Animation")
genre_vector