### if elese

In [5]:
x <- 10

if (x > 5) {
  print("x is greater than 5")
}

[1] "x is greater than 5"

In [1]:
x=1
if (x > 5) {
  print("x is greater than 5")
} else {
  print("x is not greater than 5")
}

[1] "x is not greater than 5"

In [2]:
a <- 33
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print ("a and b are equal")
}

[1] "a and b are equal"

In [3]:
a <- 200
b <- 33

if (b > a) {
  print("b is greater than a")
} else if (a == b) {
  print("a and b are equal")
} else {
  print("a is greater than b")
}

[1] "a is greater than b"

#### AND & OR in R

In [5]:
a <- 200
b <- 33
c <- 500

if (a > b & c > a) {
  print("Both conditions are true")
}

[1] "Both conditions are true"

In [6]:
a <- 200
b <- 33
c <- 500

if (a > b | a > c) {
  print("At least one of the conditions is true")
}

[1] "At least one of the conditions is true"

### While loop

In [7]:
i <- 1
while (i < 6) {
  print(i)
  i <- i + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [8]:
i <- 1
while (i < 6) {
  print("Hi")
  i <- i + 1
}

[1] "Hi"
[1] "Hi"
[1] "Hi"
[1] "Hi"
[1] "Hi"

### Break

In [9]:
i <- 1
while (i < 6) {
  print(i)
  i <- i + 1
  if (i == 4) {
    break
  }
}

[1] 1
[1] 2
[1] 3

In [11]:
i <- 0
while (i < 6) {
  i <- i + 1
  if (i == 3) {
    next
  }
  print(i)
}

[1] 1
[1] 2
[1] 4
[1] 5
[1] 6

In [10]:
dice <- 1
while (dice <= 6) {
  if (dice < 6) {
    print("No Yahtzee")
  } else {
    print("Yahtzee!")
  }
  dice <- dice + 1
}

[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "No Yahtzee"
[1] "Yahtzee!"

#### For Loop

In [9]:
for(i in 1:5)
{
  print(i);
    
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [15]:
# Loop from 1 to 5
for (i in 1:5) {
  print(paste("Iteration:", i))
}

[1] "Iteration: 1"
[1] "Iteration: 2"
[1] "Iteration: 3"
[1] "Iteration: 4"
[1] "Iteration: 5"

In [13]:
for(i in 1:5)
{
  print("Welcome");
    
}

[1] "Welcome"
[1] "Welcome"
[1] "Welcome"
[1] "Welcome"
[1] "Welcome"

In [12]:
# Loop over elements in a vector
fruits <- c("Apple", "Banana", "Orange", "Grape")

for (x in fruits) {
  print(paste(x))
}

[1] "Apple"
[1] "Banana"
[1] "Orange"
[1] "Grape"

In [13]:
numbers <- c(1, 2, 3, 4, 5)
sum_result <- 0

for (num in numbers) {
  sum_result <- sum_result + num
}

print(paste("Sum of elements:", sum_result))

[1] "Sum of elements: 15"

In [17]:

for (i in 1:10L) {
  x[i] <- i * 2
}

print(x)

 [1] "2"  "4"  "6"  "8"  "10" "12" "14" "16" "18" "20"

#### Functions

In [43]:
#Pre-defined functions
#User defined functions

In [44]:
ratings <- c(8.7, 6.9, 8.5)
mean(ratings)

[1] 8.033333

In [45]:
sort(ratings)

[1] 6.9 8.5 8.7

In [19]:
# Define Function
demo<-function()
    {
      print("Welcome")
    }
# Call
demo()

[1] "Welcome"

In [20]:
# Define a simple function
square <- function(x) {
  return(x^2)
}

In [21]:
# Use the function
square(2)
result <- square(5)
print(result)  # Output: 25

[1] 4

[1] 25

In [23]:
# Define a function with multiple parameters
add <- function(a, b) {
  return(a + b)
}

# Use the function
add(10,20)
sum <- add(10, 15)
print(sum)

[1] 30

[1] 25

In [24]:
# Define a function with a default parameter
power <- function(x, exponent = 2) {
  return(x^exponent)
}

# Use the function
result1 <- power(3)       # Equivalent to power(3, 2)
result2 <- power(3, 3)    # Raise 3 to the power of 3
print(result1)  # Output: 9
print(result2)  # Output: 27

[1] 9
[1] 27

In [25]:
# Define a function returning multiple values
calculate_stats <- function(data) {
  mean_value <- mean(data)
  median_value <- median(data)
  return(c(mean_value, median_value))
}

# Use the function
data <- c(10, 15, 20, 25, 30)
stats <- calculate_stats(data)
print(stats[1])  # Output: Mean value
print(stats[2])  # Output: Median value

[1] 20
[1] 20

In [28]:
# Define a function returning multiple values
calculate_stats <- function(data) {
  mean_value <- mean(data)
  median_value <- median(data)
  return(c(mean_value, median_value))
}

# Use the function
data <- c(10, 15, 20, 25, 30)
stats <- calculate_stats(data)
print(stats[1])  # Output: Mean value
print(stats[2])  # Output: Median value

[1] 20
[1] 20

### Object and Classes

In [46]:
movie_rating <- c(8.3, 5.2, 9.3, 8.0) # create a vector from average ratings 
movie_rating # print the variable

[1] 8.3 5.2 9.3 8.0

In [47]:
class(movie_rating) # show the variable's data type

[1] "numeric"

In [48]:
average_rating <- 8.3       # assign a decimal value
average_rating

[1] 8.3

In [49]:
class(average_rating)

[1] "numeric"

In [50]:
### Character

In [51]:
movies <-c("Toy Story", "Akira", "The Breakfast Club", "The Artist")
movies
class(movies)

[1] "Toy Story"          "Akira"              "The Breakfast Club"
[4] "The Artist"

[1] "character"

In [52]:
combined <- c("Toy Story", 1995, "Akira", 1998)
combined
class(combined)

[1] "Toy Story" "1995"      "Akira"     "1998"

[1] "character"

In [53]:
movie_length <- c(80, 110, 90, 80) # create a vector from movie length
movie_length # print the variable
class(movie_length)

[1]  80 110  90  80

[1] "numeric"

In [54]:
#Integer

In [55]:
age_restriction <- c(12, 10, 18, 18) # create a vector from age restriction
age_restriction # print the vector

class(age_restriction)

[1] 12 10 18 18

[1] "numeric"

In [56]:
integer_vector <- as.integer(age_restriction)
class(integer_vector)

[1] "integer"

In [57]:
### Logical

In [58]:
logical_vector <- c(T,F,F,T,T) # creating the vector
class(logical_vector)

[1] "logical"

In [59]:
length_Akira <- 125
length_ToyStory <- 81

In [60]:
x <- length_ToyStory > length_Akira      # is ToyStory larger than akira? 
x

[1] FALSE

In [61]:
x <- length_Akira > length_ToyStory # is akira larger than ToyStory?               
x # print the logical value

[1] TRUE

In [62]:
class(x)

[1] "logical"

In [63]:
### Complex

In [64]:
z = 8 + 6i     # create a complex number 
z

[1] 8+6i

In [65]:
class(z)

[1] "complex"

### Converting One Class to Another

In [66]:
year <- as.character(1995) # convert integer into character data type
year                    # print the value of year in character data type

[1] "1995"

In [67]:
Length_ToyStory <- 81
class(81)

[1] "numeric"

In [68]:
length_ToyStory <- as.integer(81) 
class(length_ToyStory)       # print the class name of length_ToyStory

[1] "integer"

### Class Vs Mode

In [70]:
movies <- c("Toy Story", "Akira", "The Breakfast Club", "The Artist") # creating two vectors
genre <- c("Animation/Adventure/Comedy", "Animation/Adventure/Comedy", "Comedy/Drama", "Comedy/Drama")

class(movies)
mode(movies)

[1] "character"

[1] "character"

In [71]:
movies_genre <- cbind(movies, genre)
movies_genre

     movies             genre
[1,] Toy Story          Animation/Adventure/Comedy
[2,] Akira              Animation/Adventure/Comedy
[3,] The Breakfast Club Comedy/Drama
[4,] The Artist         Comedy/Drama

In [72]:
class(movies_genre)

[1] "matrix"

Other Tyes
1-Array
2-List
3-Factors
4_Data Frames